# Kaggle Competition Titanic Dataset Learning
https://github.com/ramansah/kaggle-titanic/blob/master/Analysis.ipynb

https://corpocrat.com/2014/08/29/tutorial-titanic-dataset-machine-learning-for-kaggle/

In [1]:
TRAINNAME = "train.csv"
TESTNAME = "test.csv"

## Load Data

In [2]:
import pandas as pd
import numpy as np

%matplotlib inline

def readTrainData():
    return pd.read_csv(TRAINNAME)
def readTestData():
    return pd.read_csv(TESTNAME)

In [3]:
X_train_all = readTrainData()
X_train_len = X_train_all.shape[0]

In [4]:
X_result = readTestData()

In [5]:
survived = X_train_all['Survived']
X_train_all.drop('Survived', axis=1, inplace=True)

In [6]:
data = pd.concat([X_train_all, X_result], ignore_index=True, sort =False)

In [7]:
X_train_all.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [8]:
X_result.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

## Data Statistics

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 11 columns):
PassengerId    1309 non-null int64
Pclass         1309 non-null int64
Name           1309 non-null object
Sex            1309 non-null object
Age            1046 non-null float64
SibSp          1309 non-null int64
Parch          1309 non-null int64
Ticket         1309 non-null object
Fare           1308 non-null float64
Cabin          295 non-null object
Embarked       1307 non-null object
dtypes: float64(2), int64(4), object(5)
memory usage: 112.6+ KB

In [10]:
data.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [11]:
data.describe()

,PassengerId,Pclass,Age,SibSp,Parch,Fare
count,1309.000000,1309.000000,1046.000000,1309.000000,1309.000000,1308.000000
mean,655.000000,2.294882,29.881138,0.498854,0.385027,33.295479
std,378.020061,0.837836,14.413493,1.041658,0.865560,51.758668
min,1.000000,1.000000,0.170000,0.000000,0.000000,0.000000
25%,328.000000,2.000000,21.000000,0.000000,0.000000,7.895800
50%,655.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,982.000000,3.000000,39.000000,1.000000,0.000000,31.275000
max,1309.000000,3.000000,80.000000,8.000000,9.000000,512.329200

## Cleaning Data
https://corpocrat.com/2014/08/29/tutorial-titanic-dataset-machine-learning-for-kaggle/

Need to convert the text fields into numbers to train on

In [12]:
data.drop('PassengerId', axis=1, inplace=True)
data.describe()

            Pclass          Age        SibSp        Parch         Fare
count  1309.000000  1046.000000  1309.000000  1309.000000  1308.000000
mean      2.294882    29.881138     0.498854     0.385027    33.295479
std       0.837836    14.413493     1.041658     0.865560    51.758668
min       1.000000     0.170000     0.000000     0.000000     0.000000
25%       2.000000    21.000000     0.000000     0.000000     7.895800
50%       3.000000    28.000000     0.000000     0.000000    14.454200
75%       3.000000    39.000000     1.000000     0.000000    31.275000
max       3.000000    80.000000     8.000000     9.000000   512.329200

In [13]:
#data = data.dropna()

In [14]:
from sklearn.preprocessing import LabelEncoder
data['Sex'] = LabelEncoder().fit_transform(data['Sex'])

In [15]:
data['Name'] = data['Name'].map(lambda x: x.split(',')[1].split('.')[0].strip())
titles = data['Name'].unique()
titles

array(['Mr', 'Mrs', 'Miss', 'Master', 'Don', 'Rev', 'Dr', 'Mme', 'Ms',
       'Major', 'Lady', 'Sir', 'Mlle', 'Col', 'Capt', 'the Countess',
       'Jonkheer', 'Dona'], dtype=object)

In [16]:
data['Name']

0           Mr
1          Mrs
2         Miss
3          Mrs
4           Mr
         ...
1304        Mr
1305      Dona
1306        Mr
1307        Mr
1308    Master
Name: Name, Length: 1309, dtype: object

In [17]:
data['Age'].fillna(-1, inplace=True)

medians = dict()
for title in titles:
    median = data.Age[(data["Age"] != -1) & (data['Name'] == title)].median()
    medians[title] = median
    
for index, row in data.iterrows():
    if row['Age'] == -1:
        data.loc[index, 'Age'] = medians[row['Name']]

data.head()

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,3,Mr,1,22.0,1,0,A/5 21171,7.2500,NaN,S
1,1,Mrs,0,38.0,1,0,PC 17599,71.2833,C85,C
2,3,Miss,0,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,1,Mrs,0,35.0,1,0,113803,53.1000,C123,S
4,3,Mr,1,35.0,0,0,373450,8.0500,NaN,S

In [18]:
replacement = {
    'Don': 0,
    'Rev': 0,
    'Jonkheer': 0,
    'Capt': 0,
    'Mr': 1,
    'Dr': 2,
    'Col': 3,
    'Major': 3,
    'Master': 4,
    'Miss': 5,
    'Mrs': 6,
    'Mme': 7,
    'Ms': 7,
    'Mlle': 7,
    'Sir': 7,
    'Lady': 7,
    'the Countess': 7
}

data['Name'] = data['Name'].apply(lambda x: replacement.get(x))

from sklearn.preprocessing import StandardScaler
data['Name'] = StandardScaler().fit_transform(data['Name'].values.reshape(-1, 1))

In [19]:
data['Name'].fillna(-1, inplace=True)

In [20]:
data.head()[['Pclass', 'Age', 'SibSp', 'Parch', 'Ticket', 'Cabin', 'Embarked']]

   Pclass   Age  SibSp  Parch            Ticket Cabin Embarked
0       3  22.0      1      0         A/5 21171   NaN        S
1       1  38.0      1      0          PC 17599   C85        C
2       3  26.0      0      0  STON/O2. 3101282   NaN        S
3       1  35.0      1      0            113803  C123        S
4       3  35.0      0      0            373450   NaN        S

In [21]:
data['Parch'].unique()

array([0, 1, 2, 5, 3, 4, 6, 9])

In [22]:
from sklearn.preprocessing import StandardScaler
data['Age'] = StandardScaler().fit_transform(data['Age'].values.reshape(-1, 1))

In [23]:
data['Fare'].fillna(-1, inplace=True)
medians = dict()
for pclass in data['Pclass'].unique():
    median = data.Fare[(data["Fare"] != -1) & (data['Pclass'] == pclass)].median()
    medians[pclass] = median
for index, row in data.iterrows():
    if row['Fare'] == -1:
        data.loc[index, 'Fare'] = medians[row['Pclass']]
data['Fare'] = StandardScaler().fit_transform(data['Fare'].values.reshape(-1, 1))

In [24]:
data['Pclass'] = StandardScaler().fit_transform(data['Pclass'].values.reshape(-1, 1))

In [25]:
replacement = {
    9: 0,
    6: 0,
    4: 0,
    5: 1,
    0: 2,
    2: 3,
    1: 4,
    3: 5
}
data['Parch'] = data['Parch'].apply(lambda x: replacement.get(x))
data['Parch'] = StandardScaler().fit_transform(data['Parch'].values.reshape(-1, 1))

In [26]:
data.drop('Ticket', axis=1, inplace=True)

In [27]:
data['Embarked'].fillna('S', inplace=True)

In [28]:
replacement = {
    'S': 0,
    'Q': 1,
    'C': 2
}

data['Embarked'] = data['Embarked'].apply(lambda x: replacement.get(x))
data['Embarked'] = StandardScaler().fit_transform(data['Embarked'].values.reshape(-1, 1))
data.head()['Embarked']

0   -0.622279
1    1.834926
2   -0.622279
3   -0.622279
4   -0.622279
Name: Embarked, dtype: float64

In [29]:
data['SibSp'].unique()

array([1, 0, 3, 4, 2, 5, 8])

In [30]:
replacement = {
    5: 0,
    8: 0,
    4: 1,
    3: 2,
    0: 3,
    2: 4,
    1: 5
}

data['SibSp'] = data['SibSp'].apply(lambda x: replacement.get(x))
data['SibSp'] = StandardScaler().fit_transform(data['SibSp'].values.reshape(-1, 1))
data.head()['SibSp']

0    1.562046
1    1.562046
2   -0.435725
3    1.562046
4   -0.435725
Name: SibSp, dtype: float64

In [31]:
data['Cabin'].fillna('U', inplace=True)
data['Cabin'] = data['Cabin'].apply(lambda x: x[0])
data['Cabin'].unique()

array(['U', 'C', 'E', 'G', 'D', 'A', 'B', 'F', 'T'], dtype=object)

In [32]:
replacement = {
    'T': 0,
    'U': 1,
    'A': 2,
    'G': 3,
    'C': 4,
    'F': 5,
    'B': 6,
    'E': 7,
    'D': 8
}

data['Cabin'] = data['Cabin'].apply(lambda x: replacement.get(x))
data['Cabin'] = StandardScaler().fit_transform(data['Cabin'].values.reshape(-1, 1))
data.head()['Cabin']

0   -0.489356
1    1.000334
2   -0.489356
3    1.000334
4   -0.489356
Name: Cabin, dtype: float64

## Split Data

In [33]:
data.head(X_train_len)

,Pclass,Name,Sex,Age,SibSp,Parch,Fare,Cabin,Embarked
0,0.841916,-0.805647,1,-0.564835,1.562046,-0.453479,-0.503176,-0.489356,-0.622279
1,-1.546098,1.520592,0,0.651087,1.562046,-0.453479,0.734809,1.000334,1.834926
2,0.841916,1.055344,0,-0.260855,-0.435725,-0.453479,-0.490126,-0.489356,-0.622279
3,-1.546098,1.520592,0,0.423101,1.562046,-0.453479,0.383263,1.000334,-0.622279
4,0.841916,-0.805647,1,0.423101,-0.435725,-0.453479,-0.487709,-0.489356,-0.622279
...,...,...,...,...,...,...,...,...,...
886,-0.352091,-1.270895,1,-0.184860,-0.435725,-0.453479,-0.392009,-0.489356,-0.622279
887,-1.546098,1.055344,0,-0.792821,-0.435725,-0.453479,-0.063340,1.993461,-0.622279
888,0.841916,1.055344,0,-0.564835,1.562046,0.862716,-0.189974,-0.489356,-0.622279
889,-1.546098,-0.805647,1,-0.260855,-0.435725,-0.453479,-0.063340,1.000334,1.834926
890,0.841916,-0.805647,1,0.195116,-0.435725,-0.453479,-0.493509,-0.489356,0.606323

In [34]:
X_test = data.tail(data.shape[0]- X_train_len)

In [35]:
X_test.head()

,Pclass,Name,Sex,Age,SibSp,Parch,Fare,Cabin,Embarked
891,0.841916,-0.805647,1,0.385104,-0.435725,-0.453479,-0.491978,-0.489356,0.606323
892,0.841916,1.520592,0,1.335043,1.562046,-0.453479,-0.508010,-0.489356,-0.622279
893,-0.352091,-0.805647,1,2.474970,-0.435725,-0.453479,-0.456051,-0.489356,0.606323
894,0.841916,-0.805647,1,-0.184860,-0.435725,-0.453479,-0.475868,-0.489356,-0.622279
895,0.841916,1.520592,0,-0.564835,1.562046,2.178910,-0.405784,-0.489356,-0.622279

In [36]:
X_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 891 to 1308
Data columns (total 9 columns):
Pclass      418 non-null float64
Name        418 non-null float64
Sex         418 non-null int64
Age         418 non-null float64
SibSp       418 non-null float64
Parch       418 non-null float64
Fare        418 non-null float64
Cabin       418 non-null float64
Embarked    418 non-null float64
dtypes: float64(8), int64(1)
memory usage: 29.5 KB

In [37]:
from sklearn.model_selection import train_test_split
X_train, X_val, y_train, y_val = train_test_split(
    data.head(X_train_len), survived, test_size=150, random_state=42)

In [38]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 741 entries, 584 to 102
Data columns (total 9 columns):
Pclass      741 non-null float64
Name        741 non-null float64
Sex         741 non-null int64
Age         741 non-null float64
SibSp       741 non-null float64
Parch       741 non-null float64
Fare        741 non-null float64
Cabin       741 non-null float64
Embarked    741 non-null float64
dtypes: float64(8), int64(1)
memory usage: 57.9 KB

## Learning

### Using GridSearchCV on RandomForestClassifier

In [39]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import GridSearchCV

rdm_fst = RandomForestClassifier()

In [64]:
num_trees = [500,1000]
num_samples = [2,.1]
tuned_parameters = [{'n_estimators': num_trees,'min_samples_split':num_samples}]
grid_search = GridSearchCV(rdm_fst, tuned_parameters, scoring = 'accuracy', cv=5, verbose=3)

In [65]:
grid_search.fit(X_train, y_train)

Fitting 5 folds for each of 4 candidates, totalling 20 fits
[CV] min_samples_split=2, n_estimators=500 ...........................

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.

[CV]  min_samples_split=2, n_estimators=500, score=0.812, total=   1.4s
[CV] min_samples_split=2, n_estimators=500 ...........................

[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    1.4s remaining:    0.0s

[CV]  min_samples_split=2, n_estimators=500, score=0.757, total=   0.8s
[CV] min_samples_split=2, n_estimators=500 ...........................

[Parallel(n_jobs=1)]: Done   2 out of   2 | elapsed:    2.2s remaining:    0.0s

[CV]  min_samples_split=2, n_estimators=500, score=0.838, total=   1.4s
[CV] min_samples_split=2, n_estimators=500 ...........................
[CV]  min_samples_split=2, n_estimators=500, score=0.797, total=   2.0s
[CV] min_samples_split=2, n_estimators=500 ...........................
[CV]  min_samples_split=2, n_estimators=500, score=0.851, total=   1.4s
[CV] min_samples_split=2, n_estimators=1000 ..........................
[CV]  min_samples_split=2, n_estimators=1000, score=0.812, total=   3.5s
[CV] min_samples_split=2, n_estimators=1000 ..........................
[CV]  min_samples_split=2, n_estimators=1000, score=0.757, total=   1.7s
[CV] min_samples_split=2, n_estimators=1000 ..........................
[CV]  min_samples_split=2, n_estimators=1000, score=0.838, total=   1.8s
[CV] min_samples_split=2, n_estimators=1000 ..........................
[CV]  min_samples_split=2, n_estimators=1000, score=0.811, total=   3.1s
[CV] min_samples_split=2, n_estimators=1000 ..........................
[CV]  min_samples_split=2, n_estimators=1000, score=0.845, total=   1.9s
[CV] min_samples_split=0.1, n_estimators=500 .........................
[CV]  min_samples_split=0.1, n_estimators=500, score=0.819, total=   0.8s
[CV] min_samples_split=0.1, n_estimators=500 .........................
[CV]  min_samples_split=0.1, n_estimators=500, score=0.797, total=   0.7s
[CV] min_samples_split=0.1, n_estimators=500 .........................
[CV]  min_samples_split=0.1, n_estimators=500, score=0.831, total=   0.8s
[CV] min_samples_split=0.1, n_estimators=500 .........................
[CV]  min_samples_split=0.1, n_estimators=500, score=0.804, total=   0.7s
[CV] min_samples_split=0.1, n_estimators=500 .........................
[CV]  min_samples_split=0.1, n_estimators=500, score=0.824, total=   0.7s
[CV] min_samples_split=0.1, n_estimators=1000 ........................
[CV]  min_samples_split=0.1, n_estimators=1000, score=0.832, total=   2.2s
[CV] min_samples_split=0.1, n_estimators=1000 ........................
[CV]  min_samples_split=0.1, n_estimators=1000, score=0.797, total=   2.0s
[CV] min_samples_split=0.1, n_estimators=1000 ........................
[CV]  min_samples_split=0.1, n_estimators=1000, score=0.824, total=   1.7s
[CV] min_samples_split=0.1, n_estimators=1000 ........................
[CV]  min_samples_split=0.1, n_estimators=1000, score=0.804, total=   1.5s
[CV] min_samples_split=0.1, n_estimators=1000 ........................
[CV]  min_samples_split=0.1, n_estimators=1000, score=0.824, total=   1.7s

[Parallel(n_jobs=1)]: Done  20 out of  20 | elapsed:   31.7s finished

GridSearchCV(cv=5, error_score='raise-deprecating',
             estimator=RandomForestClassifier(bootstrap=True, class_weight=None,
                                              criterion='gini', max_depth=None,
                                              max_features='auto',
                                              max_leaf_nodes=None,
                                              min_impurity_decrease=0.0,
                                              min_impurity_split=None,
                                              min_samples_leaf=1,
                                              min_samples_split=2,
                                              min_weight_fraction_leaf=0.0,
                                              n_estimators='warn', n_jobs=None,
                                              oob_score=False,
                                              random_state=None, verbose=0,
                                              warm_start=False),
             iid='warn', n_jobs=None,
             param_grid=[{'min_samples_split': [2, 0.1],
                          'n_estimators': [500, 1000]}],
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring='accuracy', verbose=3)

In [66]:
grid_search.best_params_

{'min_samples_split': 0.1, 'n_estimators': 1000}

In [67]:
grid_search.best_score_

0.8164642375168691

.1, 1000

0.08, 500

In [68]:
final_model = grid_search.best_estimator_
final_model.score(X_train,y_train)

0.8340080971659919

In [69]:
final_model.score(X_val,y_val)

0.8333333333333334

### Using GradientBoostingClassifier

In [88]:
from sklearn import ensemble
clf = ensemble.GradientBoostingClassifier(n_estimators=13)
clf.fit(X_train,y_train)
clf.score(X_train, y_train)

0.8582995951417004

In [89]:
clf.score(X_val,y_val)

0.8466666666666667

### Using an ensemble learner with RandomForest, ExtraTrees and MLPClassifier

In [90]:
from sklearn.ensemble import RandomForestClassifier, ExtraTreesClassifier
from sklearn.neural_network import MLPClassifier

In [91]:
random_forest_clf = RandomForestClassifier(n_estimators=13, random_state=42)
extra_trees_clf = ExtraTreesClassifier(n_estimators=13, random_state=42)
mlp_clf = MLPClassifier(random_state=42)

In [92]:
estimators = [random_forest_clf, extra_trees_clf, mlp_clf]
for estimator in estimators:
    print("Training the", estimator)
    estimator.fit(X_train, y_train)

Training the RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=13,
                       n_jobs=None, oob_score=False, random_state=42, verbose=0,
                       warm_start=False)
Training the ExtraTreesClassifier(bootstrap=False, class_weight=None, criterion='gini',
                     max_depth=None, max_features='auto', max_leaf_nodes=None,
                     min_impurity_decrease=0.0, min_impurity_split=None,
                     min_samples_leaf=1, min_samples_split=2,
                     min_weight_fraction_leaf=0.0, n_estimators=13, n_jobs=None,
                     oob_score=False, random_state=42, verbose=0,
                     warm_start=False)
Training the MLPClassifier(activation='relu', alpha=0.0001, batch_size='auto', beta_1=0.9,
              beta_2=0.999, early_stopping=False, epsilon=1e-08,
              hidden_layer_sizes=(100,), learning_rate='constant',
              learning_rate_init=0.001, max_iter=200, momentum=0.9,
              n_iter_no_change=10, nesterovs_momentum=True, power_t=0.5,
              random_state=42, shuffle=True, solver='adam', tol=0.0001,
              validation_fraction=0.1, verbose=False, warm_start=False)

/Users/Duncan/anaconda3/envs/ML/lib/python3.7/site-packages/sklearn/neural_network/multilayer_perceptron.py:566: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  % self.max_iter, ConvergenceWarning)

In [93]:
[estimator.score(X_val, y_val) for estimator in estimators]

[0.8266666666666667, 0.82, 0.84]

In [94]:
from sklearn.ensemble import VotingClassifier

In [95]:
named_estimators = [
    ("random_forest_clf", random_forest_clf),
    ("extra_trees_clf", extra_trees_clf),
    ("mlp_clf", mlp_clf),
]

In [96]:
voting_clf = VotingClassifier(named_estimators)

In [97]:
voting_clf.fit(X_train, y_train)

/Users/Duncan/anaconda3/envs/ML/lib/python3.7/site-packages/sklearn/neural_network/multilayer_perceptron.py:566: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  % self.max_iter, ConvergenceWarning)

VotingClassifier(estimators=[('random_forest_clf',
                              RandomForestClassifier(bootstrap=True,
                                                     class_weight=None,
                                                     criterion='gini',
                                                     max_depth=None,
                                                     max_features='auto',
                                                     max_leaf_nodes=None,
                                                     min_impurity_decrease=0.0,
                                                     min_impurity_split=None,
                                                     min_samples_leaf=1,
                                                     min_samples_split=2,
                                                     min_weight_fraction_leaf=0.0,
                                                     n_estimators=13,
                                                     n_jobs=None,
                                                     oob_score=False,
                                                     random_sta...
                                            beta_2=0.999, early_stopping=False,
                                            epsilon=1e-08,
                                            hidden_layer_sizes=(100,),
                                            learning_rate='constant',
                                            learning_rate_init=0.001,
                                            max_iter=200, momentum=0.9,
                                            n_iter_no_change=10,
                                            nesterovs_momentum=True,
                                            power_t=0.5, random_state=42,
                                            shuffle=True, solver='adam',
                                            tol=0.0001, validation_fraction=0.1,
                                            verbose=False, warm_start=False))],
                 flatten_transform=True, n_jobs=None, voting='hard',
                 weights=None)

In [98]:
voting_clf.score(X_train, y_train)

0.97165991902834

In [99]:
voting_clf.score(X_val, y_val)

0.8333333333333334

In [100]:
voting_clf.voting = "soft"

In [101]:
voting_clf.score(X_val, y_val)

0.84

## Predicting

In [104]:
y_results_search = final_model.predict(X_test)
y_results_boost = final_model.predict(X_test)
y_results_ensemble = final_model.predict(X_test)

final_predictions = y_results_boost

### Saving Predictions

In [105]:
output = np.column_stack((X_result["PassengerId"],final_predictions))
df_results = pd.DataFrame(output.astype('int'),columns=['PassengerID','Survived'])
df_results.to_csv('titanic_results.csv',index=False)