# Kaggle Competition Titanic Dataset Learning

In [1]:
TRAINNAME = "train.csv"
TESTNAME = "test.csv"

## Load Data

In [2]:
import pandas as pd
def readTrainData():
    return pd.read_csv(TRAINNAME)
def readTestData():
    return pd.read_csv(TESTNAME)

In [11]:
titanicTrain = readTrainData()

## Data Statistics

In [5]:
titanicTrain.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

## Split Data

| Data            | Data, Labels     |
|-----------------|------------------|
| Training Data   | X_train, y_train |
| Validation Data | X_val, y_val     |
| Test Data       | X_test, y_test   |
|-----------------|------------------|

In [7]:
X_train_val = titanicTrain.drop("Survived", axis=1)
y_train_val = titanicTrain["Survived"].copy()

In [8]:
from sklearn.model_selection import train_test_split
X_train, X_val, y_train, y_val = train_test_split(
    X_train_val, y_train_val, test_size=150, random_state=42)